misek.duckdns.org {
    reverse_proxy 10.0.1.172:8080 10.0.1.172:8081 {
        lb_policy round_robin
        fail_duration 10s
        max_fails 1
    }
}
grafana.misek.duckdns.org {
    reverse_proxy grafana:3000
}
k3s.misek.duckdns.org {
    reverse_proxy localhost:30080
}

